             /* <!-- font link --> */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



              /* default/most uses style */

.default-font{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.primary-color{
    color: #FD6E0A;
} 

.font-color{
    color:white;
} 


.btn{
    background-color: #FD6E0A;
}


         /* <!-- This is the 1st navbar style--> */

                      /* nav-links,Text & button */

.naav-h1{
  font-size: 45px;
  font-weight:900;
}

.nav-btn{
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: small;
    border: 2px solid black;
    font-size: 20px;
}

nav>ul li{
    list-style: none;
}

nav>ul li a{
    text-decoration: none;
    font-size: 20px;
}
nav>ul{
    display: flex;
   gap: 30px;
   align-items: center;
}

nav{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 10%;
}

          /* <!--1st navbar style ENDED HERE!!!--> */



